a:link {
    text-decoration: none;
    font-size: 14px;
    font-family: Candara;
    font-style: normal;
}

a:hover {
    font-size: 17px;
    color: darkorange;
}
.textbox {
    border: 1px solid #848484;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline: 0;
    height: 25px;
    width: 275px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    background-color: #ffa502;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    height: 35px;
    width: 200px;
}

